{% extends 'auth/_login_form.html' %}
{% load i18n %}

{% block pre_login %}

<div class="login-page">
  <div class="logo-box login-box">
    <div class="panel-heading">
      {% include "asset/cloudwise-logo.svg" %}
    </div>
  </div>
  <div class="form-box login-box">
    <div class="row">
      <div class="">
        {{ block.super }}
        {% endblock %}

        {% block login_footer %}
        {{ block.super }}
        {% include '_login_form_footer.html' %}
        {% endblock %}

        {% block post_login %}
        {{ block.super }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
