{% load compress %}
{% load datepicker_locale from horizon %}
{% load template_cache_age from horizon %}
{% load themes %}
{% load cache %}
{% load angular_templates from angular %}

{% compress js %}
<script src='{{ STATIC_URL }}{{ theme_dir }}/cloudwise/vendors/node-waves/waves.min.js'></script>
<script src='{{ STATIC_URL }}{{ theme_dir }}/cloudwise/vendors/jquery-spinner/js/jquery.spinner.min.js'></script>
<script src='{{ STATIC_URL }}{{ theme_dir }}/cloudwise/js/jquery-knob/jquery.knob.min.js'></script>
<script src='{{ STATIC_URL }}{{ theme_dir }}/cloudwise/js/cloudwise.js'></script>
{% endcompress %}
