{% load compress %}
{% load datepicker_locale from horizon %}
{% load template_cache_age from horizon %}
{% load themes %}
{% load cache %}
{% load angular_templates from angular %}
{% theme_dir as theme_dir %}

{% compress js %}
<script src='{{ STATIC_URL }}vendors/node-waves/waves.min.js'></script>
<script src='{{ STATIC_URL }}vendors/jquery-spinner/js/jquery.spinner.min.js'></script>
<script src='{{ STATIC_URL }}cloudwise/jquery-knob/jquery.knob.min.js'></script>
<script src='{{ STATIC_URL }}cloudwise/cloudwise.js'></script>
{% endcompress %}
