#splash {
    background: #fff !important;
}

.login-page {
  display: flex;
}

.login-box {
  flex: 1;
}

.login-box:first-child {
    margin-right: 35px;
}

.logo-box {
    background: url('/static/themes/cloudwise/img/login-back.png') no-repeat no-repeat;
    margin-top: 10%;
    float: left;
    margin-left: 30%;
    width: 600px;
    max-width: 600px;
    height: 517px;
    min-height: 517px;
}

.logo-box svg {
    width: 600px;
    margin-top: -100px;
    transform: scale(2.5);
    position: absolute;
}

.form-box {
    padding: 100px 10px 10px 10px;
    margin-top: 10%;
    width: 400px;
    max-width: 400px;
    min-height: 400px;
}