{% load compress %}
{% load themes %}
{% current_theme as current_theme %}
{% theme_dir as theme_dir %}

<link href='{{ STATIC_URL }}{{ theme_dir }}/cloudwise/vendors/jquery-spinner/css/bootstrap-spinner.min.css' type='text/css' rel="stylesheet" />
<link href='{{ STATIC_URL }}{{ theme_dir }}/cloudwise/vendors/materialize/css/materialize.css' type='text/css' rel='stylesheet' />
<link href='{{ STATIC_URL }}{{ theme_dir }}/cloudwise/vendors/node-waves/waves.min.css' type='text/css' rel='stylesheet' />
<link href='{{ STATIC_URL }}{{ theme_dir }}/cloudwise/vendors/animate-css/animate.min.css' type='text/css' rel='stylesheet' />
